.view-img{
    width: 70%;
    margin: 0 auto;
    
}
.banner-img{
    width: 75%;
}
.title-why-is-anki{
    font-size: 35px;
    color: "#2F281E";
    font-weight: 800;
    line-height: 40px;
    font-family: Montserrat-Bold;
}
.des-why-is-anki{
    font-size: 25px;
    font-weight: 500;
    line-height: 40px;
    font-family: Montserrat;
    width: 75%;
}
.view-why-is-anki{
    margin-top: 70px;
}
