.anki-title{
    font-size: 36px;
    line-height: 44px;
    font-weight: 800;
    font-family: "Montserrat-Bold";
    text-align: center;
    color: #2f281e;
    padding: 50px 0 0;
}
.line{
    width: 116px;
    height: 5px;
    background-color: #3cc5ff;
    margin: 0 auto;
}
.cont-slide{
    background-color: #3cc5ff;
    width: 100%;
    margin-top: 100px;
}
.line-slide{
    width: 116px;
    height: 5px;
    background-color: white;
    margin: 0 auto;
}
.anki-title-slide{
    font-size: 36px;
    line-height: 44px;
    font-weight: 800;
    text-align: center;
    color: white;
    padding: 50px 0 0;
    font-family: "Montserrat-Bold";

}
.footer{
    background-color: #3cc5ff;
    padding: 50px;
}
@media only screen and (max-width: 480px) {
    .anki-title{
        font-size: 26px;
        padding: 30px 0 0;
    }
}